<html>
    <head>
        <title>Clues for {{ hunt_name }}</title>
        <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery.json-2.2.js"></script>
        <script type="text/javascript" src="/js/list-edit.js"></script>
        {% include "include-head.html" %}
    </head>
    <body>
        {% include "header.html" %}
        <h1>Clues for {{ hunt_name }}</h1>
        {% if started %}
        <div id="content">
        <form action="" method="post">
            <table>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                </tr>
                {% for clue in clues %}
                <tr>
                    <td><input type="text" name="clue-{{ clue.key.id }}" value="{{ clue.question }}" /></td>
                    <td><input type="text" name="clue-{{ clue.key.id }}" value="{{ clue.answer }}" /></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Save clues" />
        </form>
        {% else %}
        <form action="" method="post">
            <table id="clues-list">
            </table>
            <input type="hidden" name="clues-list" value="" />
            <input type="submit" id="clues-list-save" value="Save clues" />
        </form>
        <script type="text/javascript">
            var clues = {{ clues_json|safe }};
            var edit = new ListEdit(clues, 'clues-list', [
                'Question', 'Answer'], ['question', 'answer']);
        </script>
        {% endif %}
        </div>
    </body>
</html>
