<html>
    <head>
        <title>Hunt {{ hunt.name }}</title>
        {% include "include-head.html" %}
    </head>
    <body>
        {% include "header.html" %}
        <div id="content">
        {% if hunt.started %}
            <p>Hunt has started!</p>
        {% else %}
            <form action="" method="post">
                <input type="submit" value="Start hunt" />
            </form>
        {% endif %}
        <div>
            <a href="/hunt/{{ hunt.key.id }}/clues">Clues</a>
            <a href="/hunt/{{ hunt.key.id }}/teams">Teams</a>
        </div>
        <p>TODO: teams and clue completion status table</p>
        </div>
    </body>
</html>
