<html>
    <head>
        <title>Hunt {{ hunt.name }}</title>
        {% include "include-head.html" %}
    </head>
    <body>
        {% include "header.html" %}
        <h1>{{ hunt.name }}</h1>
        <div id="content">
        <div class="tabs">
            <a class="active" href="/hunt/{{ hunt.key.id }}">Status</a>
            <a href="/hunt/{{ hunt.key.id }}/clues">Clues</a>
            <a href="/hunt/{{ hunt.key.id }}/teams">Teams</a>
        </div>
        <div class="tab-content">
        {% if hunt.started %}
            <h2>Hunt has started!</h2>
        {% else %}
            <form action="" method="post">
                <input type="submit" value="Start hunt" />
            </form>
        {% endif %}
        <table class="with-color">
            <tr><th>Question/Team</th>
                {% for team in hunt.teams %}
                    <th>{{ team.name }}</th>
                {% endfor %}
            </tr>
            {% for answer_set in answer_sets %}
                <tr><td>{{ answer_set.question }}</td>
                    {% for answer in answer_set.answers %}
                        <td>{{ answer }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr><td>Score</td>
                {% for score in scores %}
                    <td>{{ score }}</td>
                {% endfor %}
            </tr>
            <tr><td>Team progress</td>
                {% for progress in progresses %}
                    <td>{{ progress }}</td>
                {% endfor %}
            </tr>
        </table>
        </div>
        </div>
    </body>
</html>
