<html>
    <head>
        <title>SMS Hunt</title>
        {% include "include-head.html" %}
    </head>
    <body>
        {% include "header.html" %}
        <h1>Welcome to SMS Hunt!</h1>
        <div id="content">
        <div>
            <h2>Create a new Hunt:</h2>
            <form action="create-hunt" method="post">
                <label for="hunt-name">Hunt Name:</label>
                <input type="text" name="hunt-name" id="hunt-name" />
                <input type="submit" value="Create" />
            </form>
        </div>
        <div>
            <h2>Your Hunts:</h2>
            <ul>
                {% for hunt in hunts %}
                    <li><a href="/hunt/{{ hunt.key.id }}">{{ hunt.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </body>
</html>
